
<ion-tabs>
    <div *ngIf="!user">
        <ion-tab [root]="signupRoot" tabTitle="Signup" tabIcon="information-circle"></ion-tab>
        <ion-tab [root]="signinRoot" tabTitle="Signin" tabIcon="information-circle"></ion-tab>
        <ion-tab [root]="helpRoot" tabTitle="Help" tabIcon="information-circle"></ion-tab>
    </div>
    <div *ngIf="user">
        <ion-tab [root]="signoutRoot" tabTitle="Signout" tabIcon="information-circle"></ion-tab>
        <ion-tab [root]="settingsRoot" tabTitle="Settings" tabIcon="information-circle"></ion-tab>
        <ion-tab [root]="statusRoot" tabTitle="Status" tabIcon="information-circle"></ion-tab>
        <ion-tab [root]="helpRoot" tabTitle="Help" tabIcon="information-circle"></ion-tab>
    </div>
</ion-tabs>
